*{
    margin: 0px;
    padding: 0px;
}

.root_div{
    background-color: #182747;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    align-items: center;
}

.card{
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid #562B08;
    align-items: center;
    box-shadow: 0px 0px 5px 2px #562B08;
    border-radius: 5px;
}

.card:hover{
    transform: scale(1.03);
    background-image: linear-gradient(#16213E,#2f4579);
}

.card:hover .info a{
    color: #FEC260;
}

.card img{
    width: 280px;
    box-shadow: 0px 0px 5px 2px #562B08;
}

.info{
    margin-top: 15px;
}

.info h2{
    text-transform: capitalize;
    color: #EEEEEE;
    text-align: center;
}

.info a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 80px;
    margin-top: 10px;
    border: 2px solid #562B08 ;
    font-size: 20px;
    color: #647E68;
    border-radius: 8px;
}

.info a:hover{
    background-color: #100720;
    color: #FEC260;
}